<% include ./../layouts/_header %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <img class="img-responsive"
        src="<%= (book.coverImage) ? book.coverImage : '/images/default.png' %>"
        alt="<%= book.title %>'s cover">
      </div>
      <div class="col-sm-12 col-md-9">
        <div class="well">
          <h2 class="text-center"><%= book.title %></h2>
          <hr class="hr-small border-round">
          <p><%= book.description %></p>
          <ul class="list-group">
            <li class="list-group-item">Pages: <strong><%= book.pages %></strong></li>
            <li class="list-group-item">Author(s): <strong><%= book.authors.join(', ') %></strong></li>
            <li class="list-group-item">Publisher: <strong><%= book.publisher %></strong></li>
            <li class="list-group-item">Rating: <strong><%= book.rating %></strong></li>
            <li class="list-group-item">ISBN: <strong><%= book.isbn %></strong></li>
            <li class="list-group-item">Publish Date: <strong><%= book.publishDate.toDateString() %></strong></li>
          </ul>
          <div class="row">
            <% if(showEditBtn) { %>
              <div class="col-sm-6 text-left">
                <a class="btn btn-warning" name="btn-add-to-cart"
                data-id="<%= book.id %>"
                href="/books/<%= book.id %>/edit">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                </a>
                <span class="text-small">
                  for demo purpose; there is no admin panel afterall.
                </span>
              </div>
            <% } %>
            <% if(showEditBtn) { %>
            <div class=" col-sm-6 text-right">
            <% } else { %>
              <div class=" col-sm-12 text-right">
            <% } %>
              <a class="btn btn-success" name="btn-add-to-cart"
              data-id="<%= book.id %>"
              href="/addtocart/<%= book.id %>?origin=/books/<%= book.id %>">
                  <i class="fa fa-cart-plus" aria-hidden="true"></i> <%= book.price %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include ./../layouts/_footer %>
